# KEY=value pairs here will override and complete system env variables
# Your secret API key should be visible here only !
# Change this file name to .env or create your own

API_KEY="WRITE_YOUR_API_KEY_HERE"
DEBUG=True # Defaults to False
